/* menu =======================================*/

.headerContainer {
	display: flex;
}

.header,
.landingheader {
	height: 80vh;
	text-align: center;
}

/* end of menu =======================================*/