@import 'footer.scss';
@import 'menu.scss';



.headerContainer {
	display: flex;

	.fourohfourHeader {
		height: 80vh;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}