@import 'menu.scss';
@import 'footer.scss';


body {
    background-color: #F5F5F5;
}

.aboutHeader {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .text {
        width: 100%;
    }

    .zoomcont {
        background-color: #D0F1FE;
        padding: 2rem;
        border: 1px solid #000;
        border-radius: 2rem;
    }

    .zoomImage {
        margin: 4rem 0;
        background-color: #E3E3E3;
        border-radius: 2rem;
        width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.3rem;
        border: 1px solid #000;
        background-color: #fff;

        img {
            width: 100%;
            margin: 0;
            border-radius: 2rem 2rem 0 0;
        }

        .zoomControls {

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            width: 35%;
            margin-top: 1rem;

            img {
                width: 3rem;
            }

            .zoomStar {
                width: 4rem;
            }

        }
    }

}

.work {
    margin: 8rem 0;

    .chat {
        margin: 0 auto;
        width: 90vw;

    }

}


.aboutfooter {
    background-color: #2e2e2e;
    border-top: 0.5px solid #E3E3E3;

    p,
    a {

        color: #fff;
    }

}



@media only screen and (min-device-width: 319px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {


    .aboutHeader {
        margin-top: 4rem;
        height: auto;

        .abouttitle {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            height: auto;
        }
    }

    .work {
        margin: 8rem 0;


    }


    .titles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .text {
            width: 100%;
            margin-bottom: 4rem;
        }

        .zoomImage {
            width: 100%;
            padding: 1rem;

            img {
                margin: 0;
            }

            .zoomControls {
                img {
                    width: 2.5rem;
                }

                .zoomStar {
                    width: 3rem;
                }
            }
        }


    }


    .bigMessage {
        margin: 2rem 0;
        height: auto;
    }

    .contactInfo {
        margin: 2rem 0 6rem 0;

        .contactText {
            width: 100%;
        }

        h3 {
            font-size: 1.4rem;
        }

        .contactPhoto .cphimage {
            width: 100%;
            margin-bottom: 0;
        }
    }


}

@media (min-width: 1910px) {
    .aboutHeader {
        height: 55vh;
    }

}