@import 'menu.scss';
@import 'footer.scss';

.aboutheader {
    display: flex;
    width: 100%;
    margin-top: 4rem;

    .aboutintro {
        display: flex;
        flex-direction: row;
        margin: 4rem 0;
    }

    img {
        max-width: 50%;
    }


    .text {
        height: 100%;
        align-items: center;
        margin: 0rem 4rem 4rem 4rem;

        p {
            margin: 0;
        }
    }

    h1 {
        font-family: 'untsansmed';
        text-align: center;
    }

}

.skills {
    border-radius: 1rem;
    width: 100%;
    margin: 8rem 0;

    .skillsgrid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;
        justify-content: space-between;

        .skillelement {
            width: 30%;
            border-radius: 0.5rem;

            ul {
                padding: 0;
                list-style-type: square;

                li {
                    margin: 0.5rem 0 0 1rem;
                }
            }
        }
    }
}



@media only screen and (min-device-width: 318px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {


    .aboutheader {
        margin-top: 4rem;
        height: auto;

        .aboutintro {
            display: flex;
            flex-direction: column;
            margin: 2rem 0 0 0;

            img {
                max-width: 100%;
            }

            .text {
                height: 100%;
                margin: 2rem 0;
            }
        }

    }

    .skills {
        width: 100%;
        margin: 4rem 0;

        .skillsgrid {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 1rem 0;

            .skillelement {
                width: 100%;
                border-radius: 0.5rem;
                margin: 2rem 0;
            }
        }



        ul {
            padding: 0;
            list-style-type: square;
            margin: 1rem 0 0 0;
        }
    }

    .refCont {
        width: 100%;
        margin: 8rem 0;

        .refsgrid {
            width: 100%;
            flex-direction: column;
            margin: 0;

            .reference {
                width: 100%;
                margin-bottom: 4rem;
            }

            p {
                text-align: center;

            }
        }
    }

    .work {
        margin: 8rem 0;

    }


    .titles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .text {
            width: 100%;
            margin-bottom: 4rem;
        }

    }



    .bigMessage {
        margin: 2rem 0;
        height: auto;
    }



}







@media (min-width: 1910px) {
    .aboutHeader {
        height: 55vh;
    }

}