/* footer =======================================*/


footer {
	background-color: #FDFF80;
	border: 1px solid #262424;
	border-radius: 2rem 2rem 0 0;

	.weather {
		text-align: right;
	}

	p {
		color: #262424;
		margin-top: 0.2rem;
	}



	a {
		text-decoration: none;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
		border-bottom: #262424 1px solid;

		&:hover {
			border-bottom: #262424 2px dashed;
		}
	}
}

.footerContent {

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 4rem 0;

}


/* end of footer =======================================*/


@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {


	.footerContent {

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		width: 75vw;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		.footerCol {
			margin: 1rem 0;
			text-align: left;
		}

		.contact {
			ul {
				width: 50vw;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
			}
		}
	}

}

@media (min-width: 1910px) {

	.footerContent {
		padding: 4rem 0;
	}

}