
@import 'mixins.scss';

/* footer =======================================*/

footer {
	// @include greyBackground;
	background-color: #fed876;
	border-top: 1px solid #0a2681;
}

.footerContent {
	@include mainBlue;
	display: flex;
	flex-direction: row;
	padding: 5rem 0;
	width: 100%;
	justify-content: space-between;

	ul li {
		padding: 0.2rem 0;
		@include bodyLink;
		
		a {
			font-weight: 400;
		}
	}

	.weather p {
		width: 80%;
	}
}

/* end of footer =======================================*/


@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 


.footerContent {
	flex-direction: row;
	padding: 3rem 0;
	width: 100%;
	flex-wrap: wrap;

	.footerCol {
		margin: 1rem 0;
	}

	.footerList li {
		padding: 0.5rem 0;
		
		a {
			font-size: 14px;
			}
		}
	}

	.weather {
		p {
			font-size: 1rem;
			margin: 0.5rem 0;
		}
	}
}