@import 'mixins.scss';

/* footer =======================================*/

footer {
	background-color: #fed876;
}

.footerContent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 2rem 0;

	.contact {
		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin: 0;
			width: 20vw;
		}

	}

	.weather p,
	.weather h3 {
		text-align: right;
	}

	.weatherTextHolder {
		margin: 0;
	}
}

/* end of footer =======================================*/


@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {


	.footerContent {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		width: 100%;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		.footerCol {
			margin: 1rem 0;
		}

		.contact ul {
			width: 50vw;
			flex-direction: column;
		}

		.weather {

			h3 {
				text-align: left;
			}

			p {
				text-align: left;
			}
		}
	}

}