@import 'mixins.scss';

/* menu =======================================*/

.menu {

	.menuContainer {
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: 0;
		z-index: 5;
		background-color: #ffffff;
		height: 10vh;
		align-items: center;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		align-items: baseline;
		width: 95vw;
	}

	.menu-list {
		justify-content: end;

		li {
			display: inline-block;
			padding: 0 0.5rem 0 0.5rem;

		}
	}
}

/* end of footer =======================================*/


@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {


	.menu {
		display: flex;
		align-items: center;

		.menuContainer {
			height: 10vh;
			width: 90vw;

		}
	}
}


// large screen media queries //
@media (min-width: 1910px) and (-webkit-min-device-pixel-ratio: 1) {

	.menu {

		.menuContainer {
			width: 95vw;
			height: 6vh;
		}
	}

}