/* menu =======================================*/

.menu {

	a {
		text-decoration: none;
		border-bottom: none;
	}

	background-color: #F7F7F7;
	z-index: 10;
	position: sticky;
	top: 0px;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	// -webkit-transition: all 0.5s;
	// -o-transition: all 0.5s;
	// transition: all 0.5s;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;

	.menuContainer {

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		width: 95vw;
		padding: 0.5em 0;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 0 auto;
	}

	.menu-head {
		margin: 0;
		padding: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;

	}


	.menu-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		margin: 0;

		li {
			padding-left: 1rem;

			a {
				font-family: 'untsansreg';
			}
		}
	}
}

/* end of menu =======================================*/


@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {


	.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		.menuContainer {
			width: 90vw;
		}
	}
}