/* style mixins  */

@mixin mainBlue {
	color: #1a1f54;
}

@mixin mainRed {
	color:#FF494A;
}

@mixin blueBtn {
	color: #0a2681;
	border: 3px solid #0a2681;
}

@mixin redBtn {
	color:#FF494A;
	border: 3px solid #FF494A;
	box-shadow: 4px 4px 0 #FF494A;
				-webkit-transition: .3s;
				transition: .3s;
}


@mixin mainBackground {
	background-color: #fff;
}

@mixin greyBackground {
	background-color: #C9D1D7;
}

@mixin bodyLink {
	a {
    	-webkit-transition: .3s;
		transition: .3s;
	}
}


@mixin greyBorder {
	border: solid 0.5px #ccc;
}

