
@import 'mixins.scss';
@import 'footer.scss';

.caseHeader {
	display: flex;

	.titles {
		flex-direction: column;
	}
	
	.result {
		width: 100%;
	}
}

.caseIntro {
	display: flex;
	flex-direction: column;

	.caseList {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #000;
		padding: 0.5rem 0 2rem 0;

		.caseBlurb {
			flex-direction: column;
			width: 25%;

			.title {
				margin: 0.5rem 0;
			}

			.content {
				margin: 0;
			}
		}
	}
}

.seeMoreArrow {
	text-align: center;
}

.figmaContainer {
	img {
		position: relative;
		top: 2rem;
		right: 0.7rem;
	  }
	
	.figmaBox {
		background-color: #D2D3D7;
		border-radius: 0.3rem;
		width: fit-content;

		h5 {
			padding: 0.4rem;
			color: #000;
		}
	}
}

.figmaContainer {
	animation: move 1s infinite linear;
}


@keyframes move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(5rem);
	}
	100% {
		transform: translateX(0);
	}
}

.caseStudy {
	width: 60%;
	margin: 5rem auto;

	.caseStudyTitle {
		margin-bottom: 5rem;
	}

	.caseTitle {
		margin-top: 5rem;
	}
}

.seeMoreArrow {
	font-size: 3rem;
}

.mainContent {

	.caseStudyImg {
		text-align: center;

		.result {
			max-width: 80%;
		} 
	}

	ul li {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	img {
		max-width: 100%;
		margin-top: 3rem;
	}

	.secondaryCaseTitle {
		margin-top: 3rem;
	}

	.endMessageText {
		text-align: center;
		margin-top: 5rem;
		font-weight: 700;
	}

	.centreImgContainer {
		display: flex;
		justify-content: center;
	}

}



// media queries //
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

	.caseHeader {
		display: flex;
		flex-direction: column;
		justify-content: start;
		height: 50vh;
		position: relative;

		.titles {
			width: 100%;
			margin: 1rem auto;
		}

		.result {
			width: 100%;
		}

		.figmaContainer {
			position: absolute;
			top: 20rem;
			left: 4rem;
		}
	}

		.caseIntro .caseList {
			flex-direction: column;
			.caseBlurb {
				width: 100%;
				margin-top: 1rem;
			}
		}

		.caseStudy {
			margin: 0 auto;
			width: 95%;

			.caseStudyTitle {
				margin-bottom: 3rem;
			}
		}

		.mainContent img {
			margin: 1rem 0;
		}
  }