@import 'mixins.scss';
@import 'footer.scss';
@import 'menu.scss';



.caseHeader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 4rem;
	border-bottom: 1px solid #1a1f54;

	.titles {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		max-width: 50%;
		// margin: 4rem 0 2rem 0;
		justify-content: space-between;

		.secondary {
			margin-top: 2rem;
		}
	}

	.result {
		max-width: 100%;

		img {
			max-width: 50%;
			height: auto;
		}
	}
}

.caseIntro {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	.caseList {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0.5rem 0 2rem 0;

		.caseBlurb {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			width: 40%;

			.title {
				margin: 0.5rem 0;
			}

			.content {
				margin: 0;
			}
		}
	}
}

.figmaContainer {
	top: 4.5rem;

	img {
		position: relative;
		top: 2.5rem;
		right: 0.7rem;
	}

	.figmaBox {
		background-color: #D2D3D7;
		border-radius: 0.3rem;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;

		h5 {
			padding: 0.4rem;
			color: #000;
		}
	}
}

.figmaContainer {
	-webkit-animation: move 1s infinite linear;
	animation: move 1s infinite linear;
}


@-webkit-keyframes move {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	50% {
		-webkit-transform: translateX(5rem);
		-ms-transform: translateX(5rem);
		transform: translateX(5rem);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}


@keyframes move {

	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	50% {
		-webkit-transform: translateX(5rem);
		-ms-transform: translateX(5rem);
		transform: translateX(5rem);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}





.caseStudy {
	margin: 4rem auto;
	width: 70vw;

	.caseStudyTitle {
		margin: 4rem 0 0.5rem 0;
	}

	.caseTitle {
		margin-top: 4rem;
	}

	.caption {
		margin-bottom: 2rem;
	}
}


.caseStudyImg {
	text-align: center;

	.result {
		max-width: 50%;
	}
}

ul {
	margin: 0;
}

img {
	max-width: 100%;
	margin: 2rem 0 0 0;
}

.secondaryCaseTitle {
	margin: 2rem 0 0.5rem 0;
}

.endMessageText {
	text-align: center;
	margin-top: 4rem;
}

.nextLink {
	margin-top: 1rem;
}

.centreImgContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}



// media queries //
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

	.contentContainer {
		width: 90vw;

	}

	.subHeader {
		// margin-top: 10rem;

		.whatgrid .whatelement {
			margin: 1rem 0;
		}
	}

	.caseStudy {
		width: 100%;
		margin-top: 0;

		// img {
		// 	margin: 1rem 0;
		// }
	}

	.caseHeader {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
		position: relative;
		margin-top: 8rem;

		.titles {
			max-width: 100%;
			margin: 0;
		}

		.result {
			width: 100%;
		}

		.figmaContainer {
			position: absolute;
			top: 8rem;
			left: 10rem;

			img {
				top: 4.5rem;
			}
		}
	}

	.caseIntro .caseList {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

		padding: 0;

		.caseBlurb {
			width: 100%;
			margin-top: 1rem;
		}
	}

	.bigMessage {
		margin: 4rem 0;
		padding: 0;
		height: 25vh;
	}

	// .caseStudyTitle {
	// 	margin-bottom: 3rem;
	// }



}