@import 'mixins.scss';
@import 'footer.scss';
@import 'menu.scss';

.cvheader {

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	align-content: center;
}

.titles {

	margin-top: 5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.cvtitles {

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.resume {
	margin: 4rem 0;

	.cv {
		margin: 0 auto;
		width: 100%;
	}

	.whatgrid {
		background-color: #E4E480;
	}

	.cvList {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 1rem 0;
		border-bottom: 1px solid #d1d2dd;

		h3 {
			margin: 0 0 1rem 0;
		}

		// .date {
		// 	width: 20%;
		// }

		.title {
			width: 90%;
		}

		.info {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			width: 80%;
		}

		.desc {
			width: 70%;
			margin: 1rem 0;
		}
	}

	.education {
		margin: 8rem 0 12rem 0;
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		p {
			width: 65%;
		}
	}
}


.refText {
	text-align: center;
}

.stars {
	margin-top: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}


// media queries //
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {


	.cvContainer {
		height: 30vh;
	}

	.cvtitles {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		height: 30vh;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.main {
		margin-top: 0;
	}

	.whatido {
		margin-top: 0;
	}

	.resume {
		.cv .cvList {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			margin: 0;

			.info {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;

				p {
					margin-bottom: 0.5rem;
					width: 100%;
				}
			}

			.desc {
				width: 100%;
				margin-top: 0;
			}

		}

		.education p {
			width: 100%;
		}
	}

	.stars {
		margin-top: 2rem;
	}


	.refText {
		margin-top: 1rem;
	}



}

@media (min-width: 1910px) {
	.cvheader {
		height: 70vh;
	}

	.refText {
		margin-top: 1rem;
	}
}