article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block
}

audio,
canvas,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

a:focus {
	outline: dotted thin
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: \201C \201D \2018 \2019
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

button,
input {
	line-height: normal
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
input[disabled] {
	cursor: default
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body,
figure {
	margin: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner,
legend {
	border: 0;
	padding: 0
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}


@import 'about.scss';
@import 'project.scss';
@import 'footer.scss';
@import 'resume.scss';
@import 'menu.scss';

//large display
@font-face {
	font-family: 'abcmax';
	src: url(/dev/assets/font/GintoNordBold.ttf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//main display
@font-face {
	font-family: 'untsansmed';
	src: url(/dev/assets/font/GintoNordRegular.ttf) format("opentype");
	font-weight: normal;
	font-style: normal;
}


//body
@font-face {
	font-family: 'untsansreg';
	src: url(/dev/assets/font/SuisseIntl-Light.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}


//ital
@font-face {
	font-family: 'untsansital';
	src: url(/dev/assets/font/SuisseIntl-LightItalic.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//tst
@font-face {
	font-family: 'testfont';
	src: url(/dev/assets/font/GintoNordRegular.ttf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

html {
	background-color: #F7F7F7;
}

body {
	font-size: 1.3rem;
	line-height: 1.4;
	font-family: 'untsansreg';
	margin: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: #404040;
}

s p {
	margin: 0;
	line-height: 1.6;

}

.caption {
	font-size: 1rem;
}

.contentContainer {
	width: 90vw;
	margin: 0 auto;
}


ul {
	list-style-type: none;
}


h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	color: #404040;
	text-decoration: none;
	line-height: 1;
	transition-timing-function: ease-in-out;

	&:hover {
		border-bottom: 1px solid #404040;
	}

}

h1 {
	font-size: 5rem;
	line-height: 1;
	font-family: 'abcmax';
}

h2 {
	font-size: 2.5rem;
	line-height: 1.1;
	font-family: 'untsansmed';
}

h3 {
	font-size: 1.5rem;
	line-height: 1.4;
	font-family: 'untsansmed';
}

h4 {
	font-size: 1rem;
	line-height: 1.4;
	font-family: 'untsansreg';
}


.testfont {
	font-family: 'testfont';
}

img {
	border-radius: 0.5rem;
}

.landingHeader {
	height: 90vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 2rem 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	.stretch {
		display: flex;
		flex-direction: column;
		width: 100%;

		.row {
			justify-content: space-between;
			display: flex;
		}

		.alt {
			color: #A1A1AA;
		}

		span {
			font-size: 8rem;
			font-family: 'abcmax';
			line-height: 1.2;
		}
	}

	.titles {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 70vh;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.headerContainer {
	width: 95vw;
	justify-content: center;
	display: flex;
	margin: 0 auto;
}

.introtext {
	margin: 4rem auto;
	text-align: center;
	width: 75%;
}

.workgridintro {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

.workgrid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	border-radius: 1rem;
	margin: 4rem 0 8rem 0;

	.workitem {
		-ms-flex-preferred-size: 48%;
		flex-basis: 48%;
		margin: 2rem 0;
		border-radius: 1rem;
		transition: all .2s ease-in-out;

		&:hover {
			transform: scale(1.02);
		}

		.workImg {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			max-width: 100%;
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}

		.subContainer {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin: 1rem 0 0 0;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;

			h2 {
				font-family: 'untsansmed';
			}

			.info {
				display: flex;
				flex-direction: column;
				width: auto;
				margin: 0.5rem 0;

				.inforow {
					display: flex;
					flex-direction: column;
					margin: 0.5rem 0;

					.upper {
						font-family: 'untsansmed';
						margin-right: 0.5rem;
					}

					p {
						margin: 0;
						line-height: 1.4;
					}
				}
			}
		}
	}

}


//end of workitem



.refCont {
	text-align: left;
	margin: 4rem 0;

	h2 {
		margin: 0 0 4rem 0;
		text-align: center;
	}

	.reflist {
		display: flex;
		flex-direction: column;
	}

	.reference {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;

		.imagehere {
			width: 45%;

			img {
				width: 100%;
			}
		}

		.textcontent {
			width: 50%;
			margin: 0;
		}
	}

	.refname {
		font-family: 'untsansmed';
		text-transform: uppercase;
	}

	.refbody {
		margin: 0;
		font-family: 'untsansital';
	}


}




// mobile media queries //
@media only screen and (min-device-width: 318px) and (max-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2) {

	body {
		line-height: 1.6;
		font-size: 16px;

		h1 {
			font-size: 2rem;
			line-height: 1.3;
		}

		h2 {
			font-size: 1.8rem;
			line-height: 1.3;
		}

		h3 {
			font-size: 1.4rem;
			line-height: 1.3;
		}

		h4 {
			font-size: 1rem;
			line-height: 1.3;

		}

		ul li {
			line-height: 1.6;
		}
	}

	.caption {
		font-size: 1.1rem;
	}


	.landingHeader {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 60vh;
		margin: 2rem 0 0 0;


		.stretch span {
			font-size: 3rem;
		}

		h3 {
			width: 90%;
			text-align: center;
		}
	}

	.main .introtext {
		margin: 2rem 0;
	}

	ul {
		padding: 0;
	}

	.work {
		margin: 0 0 4rem 0;
	}

	.workgrid {

		.workitem {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			margin: 0 0 4rem 0;

			.worktitle {
				img {
					width: 2rem;
				}
			}

			.subContainer {
				-webkit-box-align: left;
				-ms-flex-align: left;
				align-items: left;
				text-align: left;
				margin: 0.5rem 0 0 0;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-ms-flex-line-pack: justify;
				align-content: space-between;

				h4 {
					text-align: left;
					margin: 0 0 0.4rem 0;
				}
			}

		}

	}


	.about {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		margin: 0 0 4rem 0;
	}

	.zoomcont {
		width: 100%;

		.zoomImage {
			margin: 0;
		}
	}


	.quickintro {
		border: 1px solid #262424;
		border-radius: 1rem;
		padding: 2rem;
		width: 100%;
		z-index: 5;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
	}

	.whatgrid {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0 0 6rem 0;

		.title {
			margin-bottom: 0;

			.reg {
				width: 100%;
				margin: 4rem 0;
			}
		}

		.whatelement {
			width: 100%;
			text-align: left;


			li {
				width: 100%;
				text-align: left;
				margin: 0.4rem 0;
			}
		}
	}

	.whattext {
		width: 100%;
	}

	.refCont {
		text-align: left;

		h2 {
			text-align: center;
			margin: 0;
		}

		.reflist {
			display: flex;
			flex-direction: column;
		}

		.reference {
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-content: space-between;
			margin: 2rem 0;

			.imagehere {
				width: 100%;

				img {
					width: 100%;
				}
			}

			.textcontent {
				width: 100%;
				margin: 1rem 0;
			}
		}

		.refname {
			font-family: 'untsansmed';
			text-transform: uppercase;
		}

		.refbody {
			margin: 0;
			font-family: 'untsansital';
		}


	}


}

@media only screen and (min-device-width: 390px) and (max-device-width: 780px) and (orientation: landscape) {

	.landingHeader {
		height: 50vh;
		margin-top: 5rem;
	}

	.main {
		margin-top: 8rem;

	}
}



// large screen media queries //
@media (min-width: 1910px) {

	body {
		line-height: 1.4;

		h1 {
			font-size: 5rem;
			line-height: 1.2;
		}

		h2 {
			font-size: 3.2rem;
			line-height: 1.3;

		}

		h3 {
			font-size: 2.5rem;
			line-height: 1.1;
		}

		h4 {
			font-size: 2rem;
			line-height: 1.1;
		}
	}


	.contentContainer {
		width: 60vw;
	}



	.whatelement p {
		margin-top: 1rem;
	}
}