article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block
}

audio,
canvas,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

a:focus {
	outline: dotted thin
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: \201C \201D \2018 \2019
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

button,
input {
	line-height: normal
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
input[disabled] {
	cursor: default
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body,
figure {
	margin: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner,
legend {
	border: 0;
	padding: 0
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

@import 'mixins.scss';
@import 'about.scss';
@import 'project.scss';
@import 'footer.scss';
@import 'resume.scss';
@import 'menu.scss';

//body text
@font-face {
	font-family: 'GTEestiBook';
	src: url(/dev/assets/font/GTEestiProText-Book.ttf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//case study highlight
@font-face {
	font-family: 'GTEestiBold';
	src: url(/dev/assets/font/GTEestiProText-Bold.ttf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//main display
@font-face {
	font-family: 'GTEestiDispReg';
	src: url(/dev/assets/font/GTSuperDisplay-Medium.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//secondary display
@font-face {
	font-family: 'GTSuperReg';
	src: url(/dev/assets/font/GTSuperDisplay-Regular.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//links
@font-face {
	font-family: 'GTEestiBookItal';
	src: url(/dev/assets/font/GTEestiProText-BookItalic.ttf) format("opentype");
	font-weight: normal;
	font-style: normal;
}


html {
	background-color: #fff;
	@include mainBlue;
}

body {
	font-size: 18px;
	line-height: 1.6rem;
	font-family: 'GTEestiBook', Palatino, serif;
	margin: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: #1a1f54;
}

p {
	margin: 0;
}

.caption {
	font-family: 'GTSuperReg';
}

.contentContainer {
	width: 95vw;
	margin: 0 auto;
}

.moveBounce {
	animation: moveBounce 1s infinite linear;
}

@keyframes moveBounce {
	0% {
		transform: translateY(0);
	}

	30% {
		transform: translateY(-10px);
	}

	60% {
		transform: translateY(0);
	}

	85% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0);
	}

}

.rotate {
	animation: moveRotate 10s infinite linear;
}

@keyframes moveRotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}


.header {
	height: 50vh;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	@include mainBlue;
	font-family: 'GTEestiBook', Arial, sans-serif;
	border-bottom: 1px solid #1a1f54;
	text-decoration: none;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	line-height: 1.2;

	&:hover {
		border-bottom: 1px dashed #1a1f54;
		font-family: 'GTEestiBookItal', Arial, sans-serif;
	}
}

h1 {
	font-size: 5rem;
	line-height: 5.5rem;
	font-family: 'GTEestiDispReg', Arial, sans-serif;
}

h2 {
	font-size: 3.5rem;
	line-height: 4rem;
	font-family: 'GTSuperReg';
}

h3 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-family: 'GTSuperReg', Arial, sans-serif;
}

h4 {
	font-size: 1.5rem;
	font-size: 2rem;
	font-family: 'GTSuperReg', Arial, sans-serif;
}

h5 {
	font-size: 1rem;
	font-family: 'GTEestiBook', Arial, sans-serif;
}

.boldText {
	font-family: 'GTEestiBold';
}

.landingHeader {
	height: 70vh;
	display: flex;
	border-bottom: 1px solid #1a1f54;
	flex-direction: column;

	.titles {
		flex-direction: column;
		display: flex;
		height: 70vh;
		justify-content: center;

		h1 {
			margin-bottom: 1rem;
		}

		p {
			width: 40%;
		}
	}


	img {
		width: 2rem;
	}


	.hiContainer {
		img {
			position: relative;
			top: 2rem;
			right: 0.7rem;
		}

		.hiBox {
			background-color: #EEEEEE;
			border-radius: 0.3rem;
			width: fit-content;

			h5 {
				padding: 0.4rem;
			}
		}
	}


	.moveFigma {
		animation: move 2s infinite linear;
	}

	@keyframes move {
		0% {
			transform: translateY(0);
			transform: translateX(0.8rem);
		}

		50% {
			transform: translateY(4rem);
			transform: translateX(1rem);
		}

		100% {
			transform: translateY(0);
			transform: translateX(0.8rem);
		}
	}

}



ul {
	list-style-type: none;
	padding: 0;
}

.titles {
	width: 100%;
	display: flex;
	// justify-content: space-between;

	img {
		width: 50%;
	}

}


.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	@include bodyLink;
}

.workgrid {

	.workitem {
		margin: 2rem 0;
		width: 48%;

		.workImg {
			display: flex;
			margin: 0.5rem 0 1rem 0;
			align-self: center;
			max-width: 100%;
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}

		.subContainer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			align-items: flex-start;

			p {
				width: 70%;
			}

			a:hover {
				border-bottom: 1px dashed #1a1f54;
				font-family: 'GTEestiBookItal', Arial, sans-serif;
			}

		}

	}

	//end of workitem

}

.whatido {
	margin: 4rem 0;
}


.whatgrid {

	.whatelement {
		width: 45%;
		margin: 1.5rem 0;
	}

	ul {
		margin: 0;
	}
}

.bigMessage {
	height: auto;
	margin: 8rem 0 8rem 0;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 95vw;
}


// mobile media queries //
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

	body {
		line-height: 1.3;

		h1 {
			font-size: 3rem;
			line-height: 1;
		}

		h2 {
			font-size: 2rem;

		}

		h3 {
			font-size: 1.7rem;
		}

		h4 {
			font-size: 1rem;
		}
	}

	.contentContainer {
		width: 90vw;
	}


	.caption {
		font-size: 1.1rem;
	}


	.landingHeader {
		display: flex;
		height: 70vh;
	}


	.titles {

		.titlespara p {
			margin-top: 1rem;
			width: 90vw;
		}
	}

	.grid {
		flex-direction: column;
	}


	.workgrid {

		.workitem {
			width: 100%;
			margin: 1.5rem 0;

			.worktitle {
				img {
					width: 2rem;
				}
			}
		}
	}


	.whatgrid {

		margin: 0;

		.whatelement {
			width: 100%;
			// margin: 2rem 0;
		}
	}

	.whattext {
		width: 100%;
	}


	.bigMessage {
		text-align: center;
		margin: 2rem 0 4rem 0;

		.moveBounce {
			margin: 1rem 0;
			font-size: 3rem;
		}

		.contentContainer {
			width: 90vw;
		}

		.rotate {
			margin-top: 2rem;
		}
	}


}


// tablet media queries //
@media only screen and (min-device-width: 680px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

	.workgrid {
		flex-direction: column;

		.workitem {
			width: 100%;

			.project-info-mobile {
				display: block;
				margin-top: 1rem;
			}
		}
	}

}



// large screen media queries //
@media (min-width: 1910px) {

	body {
		font-size: 22px;
		line-height: 1.5;

		h1 {
			font-size: 6rem;
			line-height: 1;
		}

		h2 {
			font-size: 4rem;
			line-height: 1.5;

		}

		h3 {
			font-size: 3rem;
			line-height: 1;
		}

		h4 {
			font-size: 2rem;
			line-height: 1;
		}
	}


	.contentContainer {
		width: 95vw;
	}

	.landingHeader {
		height: 70vh;

		.titles {
			height: 70vh;
		}
	}


	.whatelement p {
		margin-top: 1rem;
	}
}