article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block
}

audio,
canvas,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

a:focus {
	outline: dotted thin
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: \201C \201D \2018 \2019
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

button,
input {
	line-height: normal
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
input[disabled] {
	cursor: default
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body,
figure {
	margin: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner,
legend {
	border: 0;
	padding: 0
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

@import 'mixins.scss';
@import 'about.scss';
@import 'project.scss';
@import 'footer.scss';
@import 'resume.scss';
@import 'menu.scss';

//main display
@font-face {
	font-family: 'TobiasLight';
	src: url(/dev/assets/font/Tobias-Light.ttf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//caption
@font-face {
	font-family: 'MatterLight';
	src: url(/dev/assets/font/Matter-Light.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//links
@font-face {
	font-family: 'MatterReg';
	src: url(/dev/assets/font/Matter-Regular.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//linkshover
@font-face {
	font-family: 'MatterRegItal';
	src: url(/dev/assets/font/Matter-RegularItalic.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

//boldtext
@font-face {
	font-family: 'MatterMed';
	src: url(/dev/assets/font/Matter-Medium.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

html {
	background-color: #FCFBF4;
}

body {
	font-size: 22px;
	line-height: 1.4;
	font-family: 'MatterLight';
	margin: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: #000;
}

p {
	margin: 0;
}

.caption {
	font-size: 16px;
}

.contentContainer {
	width: 95vw;
	margin: 0 auto;
}

.moveBounce {
	animation: moveBounce 1s infinite linear;
}

@keyframes moveBounce {
	0% {
		transform: translateY(0);
	}

	30% {
		transform: translateY(-10px);
	}

	60% {
		transform: translateY(0);
	}

	85% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0);
	}

}

.rotate {
	animation: moveRotate 20s infinite linear;
}

@keyframes moveRotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}


.header {
	height: 50vh;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	color: #000;
	font-family: 'MatterLight';
	border-bottom: 1px solid #000;
	text-decoration: none;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;

	&:hover {
		border-bottom: 1px dashed #000;
	}
}

h1 {
	font-size: 4rem;
	line-height: 4.5rem;
	font-family: 'TobiasLight';

}

h2 {
	font-size: 3rem;
	line-height: 3.5rem;
	font-family: 'TobiasLight';
	margin: 1rem 0 2rem 0;
}

h3 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-family: 'TobiasLight';
	margin: 1rem 0 0.5rem 0;
}

h4 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: 'TobiasLight';
	margin: 1rem 0 0.5rem 0;
}


.boldText {
	font-family: 'MatterMed';
}

.landingHeader {
	height: 70vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	.titles {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 70vh;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		h1 {
			margin-bottom: 1rem;
		}

		p {
			width: 50%;
		}
	}

	.hiContainer {
		img {
			position: relative;
			top: 2rem;
			right: 0.7rem;
		}

		.hiBox {
			background-color: #EEEEEE;
			border-radius: 0.3rem;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;

			h5 {
				padding: 0.4rem;
			}
		}
	}


	.moveFigma {
		-webkit-animation: move 2s infinite linear;
		animation: move 2s infinite linear;
	}

	@-webkit-keyframes move {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-transform: translateX(0.8rem);
			transform: translateX(0.8rem);
		}

		50% {
			-webkit-transform: translateY(4rem);
			transform: translateY(4rem);
			-webkit-transform: translateX(1rem);
			transform: translateX(1rem);
		}

		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-transform: translateX(0.8rem);
			transform: translateX(0.8rem);
		}
	}

	@keyframes move {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-transform: translateX(0.8rem);
			transform: translateX(0.8rem);
		}

		50% {
			-webkit-transform: translateY(4rem);
			transform: translateY(4rem);
			-webkit-transform: translateX(1rem);
			transform: translateX(1rem);
		}

		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-transform: translateX(0.8rem);
			transform: translateX(0.8rem);
		}
	}

}


ul {
	list-style-type: none;
	padding: 0;
}

.titles {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	img {
		width: 50%;
	}

}


.workgrid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 8rem;


	.workitem {
		width: 48%;
		margin: 0 0 4rem 0;

		.workImg {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin: 1rem 0 0.5rem 0;
			-ms-flex-item-align: center;
			-ms-grid-row-align: center;
			align-self: center;
			max-width: 100%;
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}

		.subContainer {
			p {
				font-family: 'TobiasLight';
			}

		}
	}

	//end of workitem

}

.whatgrid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 1rem 0 0 0;
	padding: 4rem;
	border-radius: 1rem;

	.whatelement {
		width: 50%;
		margin: 1rem 0;

		p {
			width: 90%;
		}
	}

	ul {
		margin: 0.5rem 0 0 0;
	}
}

.whatidomain {
	background-color: #51B148;
}

.bigMessage {
	margin: 8rem 0 8rem 0;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 8rem;

	.moveBounce {
		margin: 0 0 1rem 0;
	}
}


// mobile media queries //
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

	body {
		line-height: 1.4;
		font-size: 18px;

		h1 {
			font-size: 3rem;
			line-height: 1;
		}

		h2 {
			font-size: 2.5rem;
			line-height: 1.2;

		}

		h3 {
			font-size: 2rem;
			line-height: 1.2;
		}

		h4 {
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}

	.contentContainer {
		width: 90vw;
	}


	.caption {
		font-size: 1.1rem;
	}


	.landingHeader {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 50vh;
	}


	.titles {
		height: 50vh;

		.titlespara p {
			margin-top: 1rem;
			width: 90vw;
		}
	}


	.workgrid {

		.workitem {
			width: 100%;
			margin: 1.5rem 0;

			.worktitle {
				img {
					width: 2rem;
				}
			}
		}

	}


	.whatgrid {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 2rem;
		margin: 0;

		.whatelement {
			width: 100%;
			// margin: 2rem 0;
		}
	}

	.whattext {
		width: 100%;
	}


	.bigMessage {
		margin: 8rem 0;
		padding: 0;

		.moveBounce {
			margin: 1rem 0;
			font-size: 3rem;
		}

		.contentContainer {
			width: 90vw;
		}

		.rotate {
			margin-top: 2rem;
		}
	}


}


// tablet media queries //
@media only screen and (min-device-width: 680px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

	.workgrid {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

		.workitem {
			width: 100%;

			.project-info-mobile {
				display: block;
				margin-top: 1rem;
			}
		}
	}

}



// large screen media queries //
@media (min-width: 1910px) {

	body {
		line-height: 1.5;

		h1 {
			font-size: 5rem;
			line-height: 1;
		}

		h2 {
			font-size: 3.2rem;
			line-height: 1.5;
			margin: 1rem 0;

		}

		h3 {
			font-size: 2.5rem;
			line-height: 1;
		}

		h4 {
			font-size: 2rem;
			line-height: 1;
		}
	}


	.contentContainer {
		width: 75vw;
	}

	.landingHeader {
		height: 50vh;

		.titles {
			height: 50vh;
		}
	}


	.whatelement p {
		margin-top: 1rem;
	}
}