/* style mixins  */
/* style mixins  */
/* menu =======================================*/
.menu .menuContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  align-items: baseline;
  width: 95vw; }
  .menu .menuContainer ul {
    margin: 1rem 0 2rem 0; }

.menu .menu-list {
  justify-content: end; }
  .menu .menu-list li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    align-items: center; }
    .menu .menuContainer {
      height: 10vh;
      width: 90vw; } }

@media (min-width: 1910px) {
  .menu .menuContainer {
    width: 95vw;
    height: 10vh; } }

/* style mixins  */
/* footer =======================================*/
footer {
  background-color: #fed876; }

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0; }
  .footerContent .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    width: 20vw; }
  .footerContent .weather p,
  .footerContent .weather h3 {
    text-align: right; }
  .footerContent .weatherTextHolder {
    margin: 0; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContent .footerCol {
      margin: 1rem 0; }
    .footerContent .contact ul {
      width: 50vw;
      flex-direction: column; }
    .footerContent .weather h3 {
      text-align: left; }
    .footerContent .weather p {
      text-align: left; } }

@media (min-width: 1910px) {
  .footerContent {
    padding: 4rem 0; }
    .footerContent .contact ul {
      margin-top: 1rem; }
    .footerContent .weather .weatherTextHolder {
      margin-top: 1rem; } }

.abouttitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.aboutHeader {
  height: auto;
  margin-top: 4rem;
  border-bottom: 1px solid #1a1f54; }
  .aboutHeader .text {
    width: 50%;
    margin-top: 4rem; }
  .aboutHeader .zoomImage {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #EEEEEE;
    margin-bottom: 1rem; }
    .aboutHeader .zoomImage img {
      width: 100%;
      margin: 0; }
    .aboutHeader .zoomImage .zoomControls {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 35%;
      margin-top: 1rem; }
      .aboutHeader .zoomImage .zoomControls img {
        width: 3rem; }
      .aboutHeader .zoomImage .zoomControls .zoomStar {
        width: 4rem; }

.services {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto; }
  .services .rowContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2rem 0; }
  .services .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    align-self: center; }
    .services .row .icon {
      width: 5%;
      margin-top: 0.5rem; }
    .services .row .titleLeft {
      width: 40%;
      text-align: right; }
    .services .row .titleRight {
      width: 40%;
      text-align: left; }
    .services .row h4 {
      font-weight: 400;
      margin: 0.5rem 0; }

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0; }
  .contactInfo .contactText {
    align-items: center;
    text-align: center; }
  .contactInfo .contactPhoto {
    align-items: center; }
    .contactInfo .contactPhoto .cphimage {
      width: 40%; }

@media only screen and (min-device-width: 319px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) {
  .aboutHeader {
    margin-top: 8rem; }
  .titles {
    margin-top: 0;
    flex-direction: column; }
    .titles .text {
      width: 100%;
      margin-top: 0; }
    .titles .zoomImage {
      width: 100%;
      padding: 1rem;
      margin-top: 1rem; }
      .titles .zoomImage img {
        margin: 0; }
      .titles .zoomImage .zoomControls img {
        width: 2.5rem; }
      .titles .zoomImage .zoomControls .zoomStar {
        width: 3rem; }
    .titles .aboutPhoto {
      width: 100%;
      margin: 1.5rem 0; }
  .about .whatido {
    margin: 0.5rem 0; }
  .bigMessage {
    margin: 2rem 0;
    height: auto; }
  .contactInfo {
    margin: 2rem 0 6rem 0; }
    .contactInfo .contactText {
      width: 100%; }
    .contactInfo h3 {
      font-size: 1.4rem; }
    .contactInfo .contactPhoto .cphimage {
      width: 100%;
      margin-bottom: 0; } }

@media (min-width: 1910px) {
  .aboutHeader {
    height: 70vh; } }

/* style mixins  */
/* footer =======================================*/
footer {
  background-color: #fed876; }

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0; }
  .footerContent .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    width: 20vw; }
  .footerContent .weather p,
  .footerContent .weather h3 {
    text-align: right; }
  .footerContent .weatherTextHolder {
    margin: 0; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContent .footerCol {
      margin: 1rem 0; }
    .footerContent .contact ul {
      width: 50vw;
      flex-direction: column; }
    .footerContent .weather h3 {
      text-align: left; }
    .footerContent .weather p {
      text-align: left; } }

@media (min-width: 1910px) {
  .footerContent {
    padding: 4rem 0; }
    .footerContent .contact ul {
      margin-top: 1rem; }
    .footerContent .weather .weatherTextHolder {
      margin-top: 1rem; } }

/* style mixins  */
/* menu =======================================*/
.menu .menuContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  align-items: baseline;
  width: 95vw; }
  .menu .menuContainer ul {
    margin: 1rem 0 2rem 0; }

.menu .menu-list {
  justify-content: end; }
  .menu .menu-list li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    align-items: center; }
    .menu .menuContainer {
      height: 10vh;
      width: 90vw; } }

@media (min-width: 1910px) {
  .menu .menuContainer {
    width: 95vw;
    height: 10vh; } }

/* style mixins  */

/* style mixins  */
/* style mixins  */
/* footer =======================================*/
footer {
  background-color: #fed876; }

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0; }
  .footerContent .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    width: 20vw; }
  .footerContent .weather p,
  .footerContent .weather h3 {
    text-align: right; }
  .footerContent .weatherTextHolder {
    margin: 0; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContent .footerCol {
      margin: 1rem 0; }
    .footerContent .contact ul {
      width: 50vw;
      flex-direction: column; }
    .footerContent .weather h3 {
      text-align: left; }
    .footerContent .weather p {
      text-align: left; } }

@media (min-width: 1910px) {
  .footerContent {
    padding: 4rem 0; }
    .footerContent .contact ul {
      margin-top: 1rem; }
    .footerContent .weather .weatherTextHolder {
      margin-top: 1rem; } }

/* style mixins  */
/* menu =======================================*/
.menu .menuContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  align-items: baseline;
  width: 95vw; }
  .menu .menuContainer ul {
    margin: 1rem 0 2rem 0; }

.menu .menu-list {
  justify-content: end; }
  .menu .menu-list li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    align-items: center; }
    .menu .menuContainer {
      height: 10vh;
      width: 90vw; } }

@media (min-width: 1910px) {
  .menu .menuContainer {
    width: 95vw;
    height: 10vh; } }

.caseHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  border-bottom: 1px solid #1a1f54; }
  .caseHeader .titles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 50%;
    margin-top: 4rem; }
    .caseHeader .titles h1 {
      font-size: 4rem;
      line-height: 4.5rem; }
  .caseHeader .result {
    max-width: 100%; }
    .caseHeader .result img {
      max-width: 50%;
      height: auto; }

.caseIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .caseIntro .caseList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0 2rem 0; }
    .caseIntro .caseList .caseBlurb {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 40%; }
      .caseIntro .caseList .caseBlurb .title {
        margin: 0.5rem 0; }
      .caseIntro .caseList .caseBlurb .content {
        margin: 0; }

.figmaContainer {
  top: 4.5rem; }
  .figmaContainer img {
    position: relative;
    top: 2.5rem;
    right: 0.7rem; }
  .figmaContainer .figmaBox {
    background-color: #D2D3D7;
    border-radius: 0.3rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .figmaContainer .figmaBox h5 {
      padding: 0.4rem;
      color: #000; }

.figmaContainer {
  -webkit-animation: move 1s infinite linear;
  animation: move 1s infinite linear; }

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(5rem);
    -ms-transform: translateX(5rem);
    transform: translateX(5rem); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes move {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(5rem);
    -ms-transform: translateX(5rem);
    transform: translateX(5rem); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.caseStudy {
  margin: 4rem auto;
  width: 70vw; }
  .caseStudy .caseStudyTitle {
    margin: 4rem 0 0.5rem 0; }
  .caseStudy .caseTitle {
    margin-top: 4rem; }
  .caseStudy .caption {
    margin-bottom: 2rem; }

.caseStudyImg {
  text-align: center; }
  .caseStudyImg .result {
    max-width: 50%; }

ul {
  margin: 0; }

img {
  max-width: 100%;
  margin: 2rem 0 0 0; }

.secondaryCaseTitle {
  margin: 2rem 0 0.5rem 0; }

.endMessageText {
  text-align: center;
  margin-top: 4rem; }

.nextLink {
  margin-top: 1rem; }

.centreImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .contentContainer {
    width: 90vw; }
  .subHeader .whatgrid .whatelement {
    margin: 1rem 0; }
  .caseStudy {
    width: 100%;
    margin-top: 0; }
    .caseStudy img {
      margin: 1rem 0; }
  .caseHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    position: relative;
    margin-top: 8rem; }
    .caseHeader .titles {
      max-width: 100%;
      margin: 0; }
    .caseHeader .result {
      width: 100%; }
    .caseHeader .figmaContainer {
      position: absolute;
      top: 8rem;
      left: 10rem; }
      .caseHeader .figmaContainer img {
        top: 4.5rem; }
  .caseIntro .caseList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0; }
    .caseIntro .caseList .caseBlurb {
      width: 100%;
      margin-top: 1rem; }
  .bigMessage {
    margin: 4rem 0;
    padding: 0;
    height: 25vh; } }

/* style mixins  */
/* style mixins  */
/* footer =======================================*/
footer {
  background-color: #fed876; }

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0; }
  .footerContent .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    width: 20vw; }
  .footerContent .weather p,
  .footerContent .weather h3 {
    text-align: right; }
  .footerContent .weatherTextHolder {
    margin: 0; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContent .footerCol {
      margin: 1rem 0; }
    .footerContent .contact ul {
      width: 50vw;
      flex-direction: column; }
    .footerContent .weather h3 {
      text-align: left; }
    .footerContent .weather p {
      text-align: left; } }

@media (min-width: 1910px) {
  .footerContent {
    padding: 4rem 0; }
    .footerContent .contact ul {
      margin-top: 1rem; }
    .footerContent .weather .weatherTextHolder {
      margin-top: 1rem; } }

/* style mixins  */
/* menu =======================================*/
.menu .menuContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  align-items: baseline;
  width: 95vw; }
  .menu .menuContainer ul {
    margin: 1rem 0 2rem 0; }

.menu .menu-list {
  justify-content: end; }
  .menu .menu-list li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    align-items: center; }
    .menu .menuContainer {
      height: 10vh;
      width: 90vw; } }

@media (min-width: 1910px) {
  .menu .menuContainer {
    width: 95vw;
    height: 10vh; } }

.cvheader {
  display: flex;
  align-content: center; }

.titles {
  margin-top: 5rem;
  display: flex; }

.cvtitles {
  display: flex;
  align-items: center; }

.resume {
  margin: 4rem 0; }
  .resume .cv {
    margin: 0 auto;
    width: 100%; }
  .resume .cvList {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #d1d2dd; }
    .resume .cvList .date {
      width: 15%; }
    .resume .cvList .title {
      width: 25%; }
    .resume .cvList .desc {
      width: 55%; }
  .resume .education {
    margin: 8rem 0 12rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .resume .education p {
      width: 65%; }

.refText {
  text-align: center; }

.stars {
  margin-top: 4rem;
  display: flex;
  justify-content: center; }

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .cvContainer {
    height: 30vh; }
  .cvtitles {
    align-items: flex-start;
    height: 30vh;
    justify-content: center; }
  .main {
    margin-top: 0; }
  .whatido {
    margin-top: 0; }
  .resume .cv .cvList {
    display: flex;
    flex-direction: column;
    margin: 0; }
    .resume .cv .cvList .date,
    .resume .cv .cvList .title,
    .resume .cv .cvList .desc {
      width: 100%; }
    .resume .cv .cvList .desc {
      margin-top: 1rem; }
  .resume .education p {
    width: 100%; }
  .resume .education {
    margin: 3rem 0; }
  .refText {
    margin-top: 1rem; } }

@media (min-width: 1910px) {
  .cvheader {
    height: 70vh; }
  .refText {
    margin-top: 1rem; } }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: dotted thin; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner,
legend {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* style mixins  */
/* style mixins  */
/* style mixins  */
/* menu =======================================*/
.menu .menuContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  align-items: baseline;
  width: 95vw; }
  .menu .menuContainer ul {
    margin: 1rem 0 2rem 0; }

.menu .menu-list {
  justify-content: end; }
  .menu .menu-list li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    align-items: center; }
    .menu .menuContainer {
      height: 10vh;
      width: 90vw; } }

@media (min-width: 1910px) {
  .menu .menuContainer {
    width: 95vw;
    height: 10vh; } }

/* style mixins  */
/* footer =======================================*/
footer {
  background-color: #fed876; }

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0; }
  .footerContent .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    width: 20vw; }
  .footerContent .weather p,
  .footerContent .weather h3 {
    text-align: right; }
  .footerContent .weatherTextHolder {
    margin: 0; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContent .footerCol {
      margin: 1rem 0; }
    .footerContent .contact ul {
      width: 50vw;
      flex-direction: column; }
    .footerContent .weather h3 {
      text-align: left; }
    .footerContent .weather p {
      text-align: left; } }

@media (min-width: 1910px) {
  .footerContent {
    padding: 4rem 0; }
    .footerContent .contact ul {
      margin-top: 1rem; }
    .footerContent .weather .weatherTextHolder {
      margin-top: 1rem; } }

.abouttitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.aboutHeader {
  height: auto;
  margin-top: 4rem;
  border-bottom: 1px solid #1a1f54; }
  .aboutHeader .text {
    width: 50%;
    margin-top: 4rem; }
  .aboutHeader .zoomImage {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #EEEEEE;
    margin-bottom: 1rem; }
    .aboutHeader .zoomImage img {
      width: 100%;
      margin: 0; }
    .aboutHeader .zoomImage .zoomControls {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 35%;
      margin-top: 1rem; }
      .aboutHeader .zoomImage .zoomControls img {
        width: 3rem; }
      .aboutHeader .zoomImage .zoomControls .zoomStar {
        width: 4rem; }

.services {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto; }
  .services .rowContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2rem 0; }
  .services .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    align-self: center; }
    .services .row .icon {
      width: 5%;
      margin-top: 0.5rem; }
    .services .row .titleLeft {
      width: 40%;
      text-align: right; }
    .services .row .titleRight {
      width: 40%;
      text-align: left; }
    .services .row h4 {
      font-weight: 400;
      margin: 0.5rem 0; }

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0; }
  .contactInfo .contactText {
    align-items: center;
    text-align: center; }
  .contactInfo .contactPhoto {
    align-items: center; }
    .contactInfo .contactPhoto .cphimage {
      width: 40%; }

@media only screen and (min-device-width: 319px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) {
  .aboutHeader {
    margin-top: 8rem; }
  .titles {
    margin-top: 0;
    flex-direction: column; }
    .titles .text {
      width: 100%;
      margin-top: 0; }
    .titles .zoomImage {
      width: 100%;
      padding: 1rem;
      margin-top: 1rem; }
      .titles .zoomImage img {
        margin: 0; }
      .titles .zoomImage .zoomControls img {
        width: 2.5rem; }
      .titles .zoomImage .zoomControls .zoomStar {
        width: 3rem; }
    .titles .aboutPhoto {
      width: 100%;
      margin: 1.5rem 0; }
  .about .whatido {
    margin: 0.5rem 0; }
  .bigMessage {
    margin: 2rem 0;
    height: auto; }
  .contactInfo {
    margin: 2rem 0 6rem 0; }
    .contactInfo .contactText {
      width: 100%; }
    .contactInfo h3 {
      font-size: 1.4rem; }
    .contactInfo .contactPhoto .cphimage {
      width: 100%;
      margin-bottom: 0; } }

@media (min-width: 1910px) {
  .aboutHeader {
    height: 70vh; } }

/* style mixins  */
/* style mixins  */
/* footer =======================================*/
footer {
  background-color: #fed876; }

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0; }
  .footerContent .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    width: 20vw; }
  .footerContent .weather p,
  .footerContent .weather h3 {
    text-align: right; }
  .footerContent .weatherTextHolder {
    margin: 0; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContent .footerCol {
      margin: 1rem 0; }
    .footerContent .contact ul {
      width: 50vw;
      flex-direction: column; }
    .footerContent .weather h3 {
      text-align: left; }
    .footerContent .weather p {
      text-align: left; } }

@media (min-width: 1910px) {
  .footerContent {
    padding: 4rem 0; }
    .footerContent .contact ul {
      margin-top: 1rem; }
    .footerContent .weather .weatherTextHolder {
      margin-top: 1rem; } }

/* style mixins  */
/* menu =======================================*/
.menu .menuContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  align-items: baseline;
  width: 95vw; }
  .menu .menuContainer ul {
    margin: 1rem 0 2rem 0; }

.menu .menu-list {
  justify-content: end; }
  .menu .menu-list li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    align-items: center; }
    .menu .menuContainer {
      height: 10vh;
      width: 90vw; } }

@media (min-width: 1910px) {
  .menu .menuContainer {
    width: 95vw;
    height: 10vh; } }

.caseHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  border-bottom: 1px solid #1a1f54; }
  .caseHeader .titles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 50%;
    margin-top: 4rem; }
    .caseHeader .titles h1 {
      font-size: 4rem;
      line-height: 4.5rem; }
  .caseHeader .result {
    max-width: 100%; }
    .caseHeader .result img {
      max-width: 50%;
      height: auto; }

.caseIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .caseIntro .caseList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0 2rem 0; }
    .caseIntro .caseList .caseBlurb {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 40%; }
      .caseIntro .caseList .caseBlurb .title {
        margin: 0.5rem 0; }
      .caseIntro .caseList .caseBlurb .content {
        margin: 0; }

.figmaContainer {
  top: 4.5rem; }
  .figmaContainer img {
    position: relative;
    top: 2.5rem;
    right: 0.7rem; }
  .figmaContainer .figmaBox {
    background-color: #D2D3D7;
    border-radius: 0.3rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .figmaContainer .figmaBox h5 {
      padding: 0.4rem;
      color: #000; }

.figmaContainer {
  -webkit-animation: move 1s infinite linear;
  animation: move 1s infinite linear; }

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(5rem);
    -ms-transform: translateX(5rem);
    transform: translateX(5rem); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes move {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(5rem);
    -ms-transform: translateX(5rem);
    transform: translateX(5rem); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.caseStudy {
  margin: 4rem auto;
  width: 70vw; }
  .caseStudy .caseStudyTitle {
    margin: 4rem 0 0.5rem 0; }
  .caseStudy .caseTitle {
    margin-top: 4rem; }
  .caseStudy .caption {
    margin-bottom: 2rem; }

.caseStudyImg {
  text-align: center; }
  .caseStudyImg .result {
    max-width: 50%; }

ul {
  margin: 0; }

img {
  max-width: 100%;
  margin: 2rem 0 0 0; }

.secondaryCaseTitle {
  margin: 2rem 0 0.5rem 0; }

.endMessageText {
  text-align: center;
  margin-top: 4rem; }

.nextLink {
  margin-top: 1rem; }

.centreImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .contentContainer {
    width: 90vw; }
  .subHeader .whatgrid .whatelement {
    margin: 1rem 0; }
  .caseStudy {
    width: 100%;
    margin-top: 0; }
    .caseStudy img {
      margin: 1rem 0; }
  .caseHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    position: relative;
    margin-top: 8rem; }
    .caseHeader .titles {
      max-width: 100%;
      margin: 0; }
    .caseHeader .result {
      width: 100%; }
    .caseHeader .figmaContainer {
      position: absolute;
      top: 8rem;
      left: 10rem; }
      .caseHeader .figmaContainer img {
        top: 4.5rem; }
  .caseIntro .caseList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0; }
    .caseIntro .caseList .caseBlurb {
      width: 100%;
      margin-top: 1rem; }
  .bigMessage {
    margin: 4rem 0;
    padding: 0;
    height: 25vh; } }

/* style mixins  */
/* footer =======================================*/
footer {
  background-color: #fed876; }

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0; }
  .footerContent .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    width: 20vw; }
  .footerContent .weather p,
  .footerContent .weather h3 {
    text-align: right; }
  .footerContent .weatherTextHolder {
    margin: 0; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContent .footerCol {
      margin: 1rem 0; }
    .footerContent .contact ul {
      width: 50vw;
      flex-direction: column; }
    .footerContent .weather h3 {
      text-align: left; }
    .footerContent .weather p {
      text-align: left; } }

@media (min-width: 1910px) {
  .footerContent {
    padding: 4rem 0; }
    .footerContent .contact ul {
      margin-top: 1rem; }
    .footerContent .weather .weatherTextHolder {
      margin-top: 1rem; } }

/* style mixins  */
/* style mixins  */
/* footer =======================================*/
footer {
  background-color: #fed876; }

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0; }
  .footerContent .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    width: 20vw; }
  .footerContent .weather p,
  .footerContent .weather h3 {
    text-align: right; }
  .footerContent .weatherTextHolder {
    margin: 0; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 319px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerContent .footerCol {
      margin: 1rem 0; }
    .footerContent .contact ul {
      width: 50vw;
      flex-direction: column; }
    .footerContent .weather h3 {
      text-align: left; }
    .footerContent .weather p {
      text-align: left; } }

@media (min-width: 1910px) {
  .footerContent {
    padding: 4rem 0; }
    .footerContent .contact ul {
      margin-top: 1rem; }
    .footerContent .weather .weatherTextHolder {
      margin-top: 1rem; } }

/* style mixins  */
/* menu =======================================*/
.menu .menuContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  align-items: baseline;
  width: 95vw; }
  .menu .menuContainer ul {
    margin: 1rem 0 2rem 0; }

.menu .menu-list {
  justify-content: end; }
  .menu .menu-list li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    align-items: center; }
    .menu .menuContainer {
      height: 10vh;
      width: 90vw; } }

@media (min-width: 1910px) {
  .menu .menuContainer {
    width: 95vw;
    height: 10vh; } }

.cvheader {
  display: flex;
  align-content: center; }

.titles {
  margin-top: 5rem;
  display: flex; }

.cvtitles {
  display: flex;
  align-items: center; }

.resume {
  margin: 4rem 0; }
  .resume .cv {
    margin: 0 auto;
    width: 100%; }
  .resume .cvList {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #d1d2dd; }
    .resume .cvList .date {
      width: 15%; }
    .resume .cvList .title {
      width: 25%; }
    .resume .cvList .desc {
      width: 55%; }
  .resume .education {
    margin: 8rem 0 12rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .resume .education p {
      width: 65%; }

.refText {
  text-align: center; }

.stars {
  margin-top: 4rem;
  display: flex;
  justify-content: center; }

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .cvContainer {
    height: 30vh; }
  .cvtitles {
    align-items: flex-start;
    height: 30vh;
    justify-content: center; }
  .main {
    margin-top: 0; }
  .whatido {
    margin-top: 0; }
  .resume .cv .cvList {
    display: flex;
    flex-direction: column;
    margin: 0; }
    .resume .cv .cvList .date,
    .resume .cv .cvList .title,
    .resume .cv .cvList .desc {
      width: 100%; }
    .resume .cv .cvList .desc {
      margin-top: 1rem; }
  .resume .education p {
    width: 100%; }
  .resume .education {
    margin: 3rem 0; }
  .refText {
    margin-top: 1rem; } }

@media (min-width: 1910px) {
  .cvheader {
    height: 70vh; }
  .refText {
    margin-top: 1rem; } }

/* style mixins  */
/* menu =======================================*/
.menu .menuContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  align-items: baseline;
  width: 95vw; }
  .menu .menuContainer ul {
    margin: 1rem 0 2rem 0; }

.menu .menu-list {
  justify-content: end; }
  .menu .menu-list li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem; }

/* end of footer =======================================*/
@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    align-items: center; }
    .menu .menuContainer {
      height: 10vh;
      width: 90vw; } }

@media (min-width: 1910px) {
  .menu .menuContainer {
    width: 95vw;
    height: 10vh; } }

@font-face {
  font-family: 'GTEestiBook';
  src: url(/dev/assets/font/GTEestiProText-Book.ttf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GTEestiBold';
  src: url(/dev/assets/font/GTEestiProText-Bold.ttf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GTEestiDispReg';
  src: url(/dev/assets/font/GTSuperDisplay-Medium.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GTSuperReg';
  src: url(/dev/assets/font/GTSuperDisplay-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GTEestiBookItal';
  src: url(/dev/assets/font/GTEestiProText-BookItalic.ttf) format("opentype");
  font-weight: normal;
  font-style: normal; }

html {
  background-color: #fff;
  color: #1a1f54; }

body {
  font-size: 18px;
  line-height: 1.6rem;
  font-family: 'GTEestiBook', Palatino, serif;
  margin: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #1a1f54; }

p {
  margin: 0; }

.caption {
  font-family: 'GTSuperReg'; }

.contentContainer {
  width: 95vw;
  margin: 0 auto; }

.moveBounce {
  animation: moveBounce 1s infinite linear; }

@keyframes moveBounce {
  0% {
    transform: translateY(0); }
  30% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(0); }
  85% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }

.rotate {
  animation: moveRotate 10s infinite linear; }

@keyframes moveRotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.header {
  height: 50vh; }

h1,
h2,
h3,
h4 {
  margin: 0; }

a {
  color: #1a1f54;
  font-family: 'GTEestiBook', Arial, sans-serif;
  border-bottom: 1px solid #1a1f54;
  text-decoration: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  line-height: 1.2; }
  a:hover {
    border-bottom: 1px dashed #1a1f54;
    font-family: 'GTEestiBookItal', Arial, sans-serif; }

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  font-family: 'GTEestiDispReg', Arial, sans-serif; }

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: 'GTSuperReg'; }

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: 'GTSuperReg', Arial, sans-serif; }

h4 {
  font-size: 1.5rem;
  font-size: 2rem;
  font-family: 'GTSuperReg', Arial, sans-serif; }

h5 {
  font-size: 1rem;
  font-family: 'GTEestiBook', Arial, sans-serif; }

.boldText {
  font-family: 'GTEestiBold'; }

.landingHeader {
  height: 70vh;
  display: flex;
  border-bottom: 1px solid #1a1f54;
  flex-direction: column; }
  .landingHeader .titles {
    flex-direction: column;
    display: flex;
    height: 70vh;
    justify-content: center; }
    .landingHeader .titles h1 {
      margin-bottom: 1rem; }
    .landingHeader .titles p {
      width: 40%; }
  .landingHeader img {
    width: 2rem; }
  .landingHeader .hiContainer img {
    position: relative;
    top: 2rem;
    right: 0.7rem; }
  .landingHeader .hiContainer .hiBox {
    background-color: #EEEEEE;
    border-radius: 0.3rem;
    width: fit-content; }
    .landingHeader .hiContainer .hiBox h5 {
      padding: 0.4rem; }
  .landingHeader .moveFigma {
    animation: move 2s infinite linear; }

@keyframes move {
  0% {
    transform: translateY(0);
    transform: translateX(0.8rem); }
  50% {
    transform: translateY(4rem);
    transform: translateX(1rem); }
  100% {
    transform: translateY(0);
    transform: translateX(0.8rem); } }

ul {
  list-style-type: none;
  padding: 0; }

.titles {
  width: 100%;
  display: flex; }
  .titles img {
    width: 50%; }

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .grid a {
    -webkit-transition: .3s;
    transition: .3s; }

.workgrid .workitem {
  margin: 2rem 0;
  width: 48%; }
  .workgrid .workitem .workImg {
    display: flex;
    margin: 0.5rem 0 1rem 0;
    align-self: center;
    max-width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .workgrid .workitem .subContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start; }
    .workgrid .workitem .subContainer p {
      width: 70%; }
    .workgrid .workitem .subContainer a:hover {
      border-bottom: 1px dashed #1a1f54;
      font-family: 'GTEestiBookItal', Arial, sans-serif; }

.whatido {
  margin: 4rem 0; }

.whatgrid .whatelement {
  width: 45%;
  margin: 1.5rem 0; }

.whatgrid ul {
  margin: 0; }

.bigMessage {
  height: auto;
  margin: 8rem 0 8rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 95vw; }

@media only screen and (min-device-width: 318px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    line-height: 1.5; }
    body h1 {
      font-size: 3rem;
      line-height: 1; }
    body h2 {
      font-size: 2rem; }
    body h3 {
      font-size: 1.7rem; }
    body h4 {
      font-size: 1rem; }
  .contentContainer {
    width: 90vw; }
  .caption {
    font-size: 1.1rem; }
  .landingHeader {
    display: flex;
    height: 70vh; }
  .titles .titlespara p {
    margin-top: 1rem;
    width: 90vw; }
  .grid {
    flex-direction: column; }
  .workgrid .workitem {
    width: 100%;
    margin: 1.5rem 0; }
    .workgrid .workitem .worktitle img {
      width: 2rem; }
  .whatgrid {
    margin: 0; }
    .whatgrid .whatelement {
      width: 100%; }
  .whattext {
    width: 100%; }
  .bigMessage {
    text-align: center;
    margin: 2rem 0 4rem 0; }
    .bigMessage .moveBounce {
      margin: 1rem 0;
      font-size: 3rem; }
    .bigMessage .contentContainer {
      width: 90vw; }
    .bigMessage .rotate {
      margin-top: 2rem; } }

@media only screen and (min-device-width: 680px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .workgrid {
    flex-direction: column; }
    .workgrid .workitem {
      width: 100%; }
      .workgrid .workitem .project-info-mobile {
        display: block;
        margin-top: 1rem; } }

@media (min-width: 1910px) {
  body {
    font-size: 22px;
    line-height: 1.5; }
    body h1 {
      font-size: 6rem;
      line-height: 1; }
    body h2 {
      font-size: 4rem;
      line-height: 1.5; }
    body h3 {
      font-size: 3rem;
      line-height: 1; }
    body h4 {
      font-size: 2rem;
      line-height: 1; }
  .contentContainer {
    width: 95vw; }
  .landingHeader {
    height: 70vh; }
    .landingHeader .titles {
      height: 70vh; }
  .whatelement p {
    margin-top: 1rem; } }
