/* style mixins  */

@mixin mainBlue {
	color: #1a1f54;
}

@mixin mainRed {
	color: #FF494A;
}

@mixin blueBtn {
	color: #0a2681;
	border: 3px solid #0a2681;
}

@mixin hoverBtn {
	color: #0a2681;
	background-color: #BDCCD1;
	border: 3px solid #0a2681;
	box-shadow: 4px 4px 0 #0a2681;
	-webkit-transition: .3s;
	transition: .3s;
}


@mixin mainBackground {
	background-color: #fff;
}

@mixin bodyLink {
	a {
		-webkit-transition: .3s;
		transition: .3s;
	}
}